// ------ faster FlexBox writing -----
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// ----- import Scss -----
@import "./global";
@import "./navbar";
@import "./header";
@import "./main";
@import "./footer";
